.Detail{
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    justify-content: center;
    font-family: 'Poppins';
    width: 80%;
    background-color:rgb(252, 239, 210)
}

.Detail button{
    border-radius: 7px;
    height: 30px;
    width: 50px;
    font-family: 'Poppins';
    margin-top: 5px;
    border: #fff;
}
.Detail button:hover{
    background-color: #bebebe;
}