.Container-Card{
    border-radius: 7px;
    border:1px solid #000;
    width: 300px;
    height: 450px;
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    
    margin:5px;
    align-items: center;
    text-align: center;

}
.Container-Card button{
    border-radius: 7px;
    height: 30px;
    font-family: 'Poppins';
    margin-top: 10px;
    border: #fff;
}
.Container-Card button:hover{
    background-color: #bebebe;
}
.Container-Card h5{
    margin-left: '12px';
    margin-right: '12px';
}