.Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    gap: 10px;
}
.Form button{
    border-radius: 7px;
    height: 30px;
    width: 200px;
    font-family: 'Poppins';
    margin-top: 5px;
    border: #fff;
}
.Form button:hover{
    background-color: #bebebe;
}